:root {
  --color1: #2a0308;
  --color2: #924f1b;
  --color3: #e2ac3f;
  --color4: #f8ebbe;
  --color5: #7ba58d;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  color: var(--color1);
}

main {
  background: var(--color5);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.mainCard {
  width: 40vw;
  border-radius: 25px;
  background-color: var(--color4);
  padding: 25px;
}

.title {
  font-family: "Dosis", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

.title-image {
  width: 3rem;
}

.inputForm {
  border: none;
  padding: 10px;
  border: 1px solid var(--color2);
  outline: none;
  width: 35%;
  margin-right: 0.5rem;
}

.inputForm::placeholder {
  padding: 0px;
}

.dateForm{
  height: 42px;
  width: 40%;
  border: 1px solid var(--color2);
}

.btnCreate {
  padding: 10px 15px;
  background: var(--color3);
  border: none;
  color: var(--color1);
  border-radius: 5px;
  cursor: pointer;
  width: calc(40% - 20px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0.5rem;
}

.btn-text{
  font-size: 1rem;
}

.btn-add {
  width: 1rem;
}

.cardsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 60vh;
  height: 60vh;
}

.card {
  width: 90%;
  padding: 15px;
  box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0px;
  position: relative;
  background: var(--color4);
  border: 1px solid var(--color2);
}

.task {
  padding: 10px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: rgba(62, 161, 219, 1);
}

.completeIcon {
  color: rgba(62, 161, 219, 1);
}

.trashIcon:hover {
  color: #f00;
}

.deleteConfirmationPop {
  position: relative;
  background-color: rgba(255, 255, 255);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0;
}
.deleteSpace {
  position: relative;
  width: 30%;
}

.noTasks {
  font-size: 48px;
}

.date{
  width: 80%;
  padding: 0.5rem;
  list-style:none;
}